%h1 New Todo
%form{:action => "/todos", :method => "post"}
  %p
    %label{:for => "title"} Title
    %br/
    %input{:name => "title", :type => "text"}/
  %p
    %label{:for => "body"} Body
    %br/
    %input{:name => "body", :type => "text"}/
  %button{:type => "submit"} Submit

  %a{:href => "/todos"} View todos
