%h1 Edit Todo
%form{:action => "/todos/#{@todo.id}", :method => "post"}
  %input{:name => "_method", :type => "hidden", :value => "put"}
    %p
      %label{:for => "title"} Title
      %br/
      %input{:name => "title", :type => "text", :value => "#{@todo.title}"}/
    %p
      %label{:for => "body"} Body
      %br/
      %input{:name => "body", :type => "text", :value => "#{@todo.body}"}/
    %button{:type => "submit"} Update
