%h1 My Todos
- @todos.each do |todo|
  %p
    %strong= todo.title
    %a{:href => "/todos/#{todo.id}", :id => "todo_#{todo.id}"} Show
    |
    %a{:href => "/todos/#{todo.id}/edit"} Edit
%p
  %a{:href => "/todos/new"} New Todo
