%h1= @todo.title
%p= @todo.body
%form{:action => "/todos/#{@todo.id}", :method => "post"}
  %input{:name => "_method", :type => "hidden", :value => "delete"}
  %p
    %a{:href => "/todos/#{@todo.id}/edit"} Edit
    |
    %a{:href => "/todos"} All Todos
  %button{:type => "submit"} Delete
